include chunks/contacts-list__item

.container
    .heading
        h3.heading__h Контакты

.contacts
    .container
        .contacts-list.sm-full.md-full
            .swiper-container
                .swiper-wrapper

                    +contacts-list__item(
                        title='Нижегородский район'
                        address='Нижегородский р-н, ул. Костина, д. 3, 3 этаж, офис 304'
                        geo='56.311956, 43.990589'
                        phone='+7 (831) 420-61-23'
                        time='пн-пт: с 9-00 до 18-00'
                        agents=[{
                            photo: '1.jpg',
                            name: 'Ольга'
                            },{
                            photo: '2.jpg',
                            name: 'Елена'
                            }]
                    )

                    +contacts-list__item(
                        title='Нижегородский район'
                        address='Нижегородский р-н, Казанское шоссе, д. 4'
                        geo='56.295690, 44.077699'
                        phone='+7 (831) 420-61-27'
                        time='пн-пт: с 9-00 до 18-00, сб, вс: выходной'
                        agents=[{
                            photo: '3.jpg',
                            name: 'Любовь'
                            }]
                    )

                    +contacts-list__item(
                        title='Приокский район'
                        address='Приокский р-н, пр. Гагарина, д. 101/5'
                        geo='56.236466, 43.953606'
                        phone='+7 (831) 420-61-34'
                        time='пн-пт: с 9-00 до 19-00, сб: с 10-00 до 15-00'
                        agents=[{
                            photo: '4.jpg',
                            name: 'Марина'
                            }]
                    )

                    +contacts-list__item(
                        title='Советский район'
                        address='Советский р-н, ул. Бекетова, д. 51'
                        geo='56.293567, 44.019308'
                        phone='+7 (831) 420-61-37'
                        time='пн-пт: с 9-00 до 18-00, сб, вс: выходной'
                    )

                    +contacts-list__item(
                        title='Московский район'
                        address='Московский р-н, Московское шоссе, д. 298а'
                        geo='56.311696, 43.832899'
                        phone='+7 (831) 420-61-39'
                        time='пн-пт: с 9-00 до 17-00, сб, вс: выходной'
                        agents=[{
                            photo: '5.jpg',
                            name: 'Светлана'
                            }]
                    )

                    +contacts-list__item(
                        title='Сормовский район'
                        address='Сормовский р-н, пр. Союзный, д. 2'
                        geo='56.358612, 43.854171'
                        phone='+7 (831) 420-61-45'
                        time='пн-пт: с 9-00 до 19-00, сб: с 10-00 до 15-00'
                        agents=[{
                            photo: '6.jpg',
                            name: 'Анна'
                            },{
                            photo: '7.jpg',
                            name: 'Кира'
                            }]
                    )

                    +contacts-list__item(
                        title='Канавинский район'
                        address='Канавинский р-н, ТЦ «Купеческая Слобода», ул. К. Маркса, д. 8 «А»'
                        geo='56.344966, 43.928289'
                        phone='+7 (831) 420-61-47'
                        time='пн-вс: с 10:00 до 20:00'
                    )

                    +contacts-list__item(
                        title='Ленинский район'
                        address='Ленинский р-н, пр. Ленина, д. 48'
                        geo='56.273015, 43.935630'
                        phone='+7 (831) 420-61-49'
                        time='пн-пт: с 9-00 до 18-00, сб,вс: выходной'
                        agents=[{
                            photo: '8.jpg',
                            name: 'Татьяга'
                            },{
                            photo: '9.jpg',
                            name: 'Дарья'
                            }]
                    )

                    +contacts-list__item(
                        title='Ленинский район'
                        address='Ленинский р-н, ул. Суздальская, Карповский рынок'
                        geo='56.256829, 43.939000'
                        phone='+7 (831) 262-11-16'
                        time='пн-сб: с 9-00 до 17-00, вс: с 9-00 до 16-00'
                    )

                    +contacts-list__item(
                        title='Автозаводский район'
                        address='Автозаводский р-н, пр. Кирова, д. 5'
                        geo='56.248031, 43.863190'
                        phone='+7 (831) 420-61-54'
                        time='пн-пт: с 9-00 до 18-00, сб, вс - выходной'
                        agents=[{
                            photo: '10.jpg',
                            name: 'Елена'
                            }]
                    )

                    +contacts-list__item(
                        title='г. Кстово'
                        address='г. Кстово, ул. 40 лет Октября, д. 9'
                        geo='56.147611, 44.199493'
                        phone='+7 (83145) 9-58-53, +7 (831) 262-12-14'
                        time='пн-пт: с 9-00 до 18-00, сб, вс: выходной'
                    )

                    +contacts-list__item(
                        title='г. Бор'
                        address='г. Бор, ул. Стеклозаводское шоссе, д. 3'
                        geo='56.348801, 44.081454'
                        phone='+7 (83159) 7-40-03'
                        time='пн-пт: с 8-00 до 17-00'
                    )

                    +contacts-list__item(
                        title='г. Выкса'
                        address='г. Выкса, микрорайон Центральный, д.8, пом.2'
                        geo='55.306527, 42.166533'
                        phone='+7 (831-77) 3-13-02'
                        time='пн-пт: с 9-00 до 17-00'
                        agents=[{
                            photo: '11.jpg',
                            name: 'Евгения'
                            }]
                    )

                    +contacts-list__item(
                        title='г. Выкса'
                        address='г. Выкса, пос. Строитель, строение 13'
                        geo='55.333251, 42.133394'
                        phone='+7 (83177) 6-75-95'
                        time='пн-пт: с 9-00 до 17-00, сб: с 9-00 до 12-00'
                        agents=[{
                            photo: '12.jpg',
                            name: 'Ольга'
                            },{
                            photo: '13.jpg',
                            name: 'Алла'
                            },{
                            photo: '14.jpg',
                            name: 'Татьяна'
                            }]
                    )

                    +contacts-list__item(
                        title='г. Богородск'
                        address='г. Богородск, ул. Ленина, д. 170, ТЦ «Континент», 2 этаж'
                        geo='56.102418, 43.506748'
                        phone='+7 (83170) 3-000-6'
                        time='пн-пт: с 8-00 до 17-00, сб, вс - выходной'
                        agents=[{
                            photo: '15.jpg',
                            name: 'Наталья'
                            }]
                    )

                    +contacts-list__item(
                        title='г. Павлово'
                        address='г. Павлово, ул. Куйбышева, д. 2/20'
                        geo='55.964534, 43.063905'
                        phone='+7 (83171) 2-30-10'
                        time='пн-пт: с 9-00 до 18-00, сб, вс - выходной'
                    )

                    +contacts-list__item(
                        title='г. Дзержинск'
                        address='г. Дзержинск, просп. Чкалова, д. 50'
                        geo='56.252852, 43.466665'
                        phone='+7 (8313) 22-02-61'
                        time='пн-пт: с 9-00 до 18-00'
                    )
            .contacts__buttons
                .swiper-button-prev
                    +icon('prev')
                    span.js-map__prev Адрес предыдущего офиса
                .swiper-button-next
                    span.js-map__next Адрес следующего офиса
                    +icon('next')    
    
    .contacts__map(id='map')