include chunks/reviews-item

.container.reviews

    .heading
            h3.heading__h От частного покупателя до профессионала
            p.heading__lead Все выбирают окна завода «САКСЭС»
            
    .js-tabs
        ul.reviews-tabs.js-tabs__list
            li.reviews-tabs__item
                a.reviews-tabs__link(href="#reviews_pro") 
                    span.reviews-tabs__link__h Профессионал
                    span.reviews-tabs__link__badge 
                        +icon('star')
                        | PRO
                    span.reviews-tabs__link__text Отзывы компаний, предъявляющих высокие требования к стандартам качества производства и монтажа оконных конструкций.
            li.reviews-tabs__item
                a.reviews-tabs__link(href="#reviews_home") 
                    span.reviews-tabs__link__h Частные покупатели
                    span.reviews-tabs__link__text Отзывы наших частных клиентов.

        div(id="reviews_pro")
            .scrollbar-outer.sm-full.js-scrollbar-md_up.swiper-container
                .reviews-list.swiper-wrapper
                    .reviews-list__item.swiper-slide
                        +reviews-item(
                            title='Группа Компаний «Русский Капитал»'
                            muted='Многоквартирные жилые дома.'
                            work='Окна из ПВХ-профилей, лоджии и витражи из алюминиевых профилей.'
                            text='Сотрудничаем с Нижегородским оконным заводом «Саксэс» с 2010 года. Компания зарекомендовала себя, как устойчивое предприятие и надежный деловой партнер.'
                            photo='1'
                            scan='1'
                            )
                    .reviews-list__item.swiper-slide
                        +reviews-item(
                            title='Группа компаний «Столица Нижний»'
                            muted='Многоквартирные жилые дома.'
                            work='Окна из ПВХ-профилей, лоджии из алюминиевых профилей.'
                            text='Выражаем благодарность за професионализм и матерство, показанные при выполнении работ по изготовлению и монтажу пластиковых окон и алюминиевых конструкций. Работы выполнены в полном объеме и в соответствии с договорными обязательствами.'
                            photo='2'
                            scan='3'
                            )
                    .reviews-list__item.swiper-slide
                        +reviews-item(
                            title='Строительная Компания «КаркасМонолит»'
                            muted='Многоквартирные жилые дома.'
                            work='Окна и лоджии из ПВХ-профилей.'
                            text='Мы рекомендуем Нижегородский оконный завод «Саксэс» как профессионального и надежного партнера, прикладывающего все силы к решению поставленных задач и достигающего намеченных целей.'
                            photo='3'
                            scan='3'
                            )
                    .reviews-list__item.swiper-slide
                        +reviews-item(
                            title='Группа Компаний «Сокольники»'
                            muted='Многоквартирные жилые дома.'
                            work='Окна и лоджии из ПВХ-профилей.'
                            text='Характеризуем Нижегородский оконный завод «Саксэс» как профессионального и надежного партнера в области производства и монтажа светопрозрачных конструкций.'
                            photo='4'
                            scan='4'
                            )
                    .reviews-list__item.swiper-slide
                        +reviews-item(
                            title='Группа Компаний «АГАТ»'
                            muted='Автосалоны.'
                            work='Витражи из алюминиевых профилей.'
                            text='Рекомендуем «Нижегородский оконный завод САКСЭС», как профессионального и ответственного партнера, прикладывающего все силы для решения поставленных задач. Хотим отметить оперативность и высокую организованность сотрудников.'
                            photo='5'
                            scan='5'
                            )
                    .reviews-list__item.swiper-slide
                        +reviews-item(
                            title='Группа Компаний «ЭКОЙЛ»'
                            muted='Многоквартирные жилые дома'
                            work='Окна и лоджии из ПВХ-профилей.'
                            text='Нижегородский оконный завод «Саксэс» выполнил работы качественно и в срок. За время проведения работ претензий к компании не было.'
                            photo='5'
                            scan='5'
                            )
            .swiper-pagination

        div(id="reviews_home")
            .scrollbar-outer.sm-full.js-scrollbar-md_up.swiper-container(id="reviews_home")
                .reviews-list.swiper-wrapper
                    .reviews-list__item.swiper-slide
                        +reviews-item(
                            title='Надежда Николаевна Р.',
                            muted='Нижний Новгород',
                            work='Окна и лоджии из ПВХ-профилей.'
                            text='Выражаем огромную благодарность «Нижегородскому оконному заводу» за отлично проделанную работу!!! Долго не могли определиться, куда обратиться за окнами — боялись нарваться на мошенников. Когда ознакомились с информацией про завод в интернете, сомнений не осталось. Тексты на сайте расписывают все от и до, чувствуется, что предприятие экспертное, сразу появляется доверие. Заказ наш сделали всего лишь за неделю. Правда, по ошибке привезли пару одинаковых москитных сеток, одна из которых не подошла — нужны были разные. Не беда: заменили сетку уже на следующий день. В общем, мы очень довольны, обратимся еще и другим советуем!!!'
                            video='Cumb4Qqjtqw'
                            avatar='1'
                            )
                    .reviews-list__item.swiper-slide
                        +reviews-item(
                            title='Валентина Тимофеевна И.',
                            muted='Нижний Новгород',
                            work='Балконный блок Rehau'
                            text='Мы с дедом решили поменять окна. Хотели качественные, подороже. Долго откладывали с пенсии. Выбрали «Нижегородский оконный завод» потому, что нам понравилось предприятие: солидное, крупное, с большим опытом. А не просто проходимцы, делающие кустарно. Заказали Rehau двухкамерные. Теперь в комнате нет шума, исчез сквозняк, тепло и светло. Большое спасибо!'
                            avatar='2'
                            )
                    .reviews-list__item.swiper-slide
                        +reviews-item(
                            title='Константин Алексеевич Е.',
                            muted='Нижний Новгород',
                            work='3 окна и остекление лоджии'
                            text='Долго и упорно искал нормальную компанию с нормальными менеджерами и мастерами, которая ставит нормальные окна. Не помню как, что набрал, вышел на сайт Нижегородского завода. Мне сразу стало все понятно. Хотя, конечно, деньги берут немалые... Зато это не хухры мухры, а большое производство, которому можно в случае чего предъявить. В итоге уже месяц как стоят новые окна, в квартире тишина и покой, стало намного теплее, не дует, все открывается и закрывается без проблем, легко, удобно. Достойно!'
                            video='PEQ49VPRxPA'
                            avatar='3'
                            )
                    .reviews-list__item.swiper-slide
                        +reviews-item(
                            title='Наталья Витальевна',
                            muted='Нижегородская область',
                            work='Окна в частном доме'
                            text='Оконный завод САКСЭС установил окна и рольставни для дачного дома. Результат превзошел ожидания, подробнее в видеоотзыве.'
                            video='Cumb4Qqjtqw'
                            avatar='4'
                            )
                    .reviews-list__item.swiper-slide
                        +reviews-item(
                            title='Василий Иванович П.',
                            muted='Нижний Новгород',
                            work='Остекление лоджии, холодильник'
                            text='Обращались в эту фирму неоднократно. В первый раз нам делали остекление лоджии, второй раз холодильник под окном на кухне. Выполненной работой и качеством очень довольны. Большое спасибо работникам этой фирмы за добросовестное отношение к людям.'
                            avatar='3'
                            scan='6'
                            )
            .swiper-pagination

