include config-tab
include /blocks/chunks/tooltip-gost

.container._xl.config

    .js-tabs.js-tabs_disconnected
        
        .config-select.sm-full.js-tabs__select
            .config-select__list
                a.config-select__item.js-tabs__select__item._active(href='#warm-balcony')
                    span.config-select__item__img
                        +svgsprite('warm')
                    span.config-select__item__content
                        span.config-select__item__content__h Теплое остекление
                a.config-select__item.js-tabs__select__item(href='#cold-balcony')
                    span.config-select__item__img
                        +svgsprite('snow')
                    span.config-select__item__content
                        span.config-select__item__content__h Холодное остекление
                a.config-select__item.js-tabs__select__item(href='#sliding-balcony')
                    span.config-select__item__img
                        +svgsprite('sliding')
                    span.config-select__item__content
                        span.config-select__item__content__h Раздвижные окна
                a.config-select__item.js-tabs__select__item(href='#finishing-balcony')
                    span.config-select__item__img
                        +svgsprite('finishing')
                    span.config-select__item__content
                        span.config-select__item__content__h Отделка под ключ
                
        .js-tabs__content
        
            .balcony-list.sm-full(id='warm-balcony')
                .balcony-list__item
                    .balcony-list__item__col
                        .balcony-list__item__head
                            .balcony-list__item__h Теплое остекление 
                            .balcony-list__item__lead на улице 
                                span.color-cold −15°С
                                | , внутри 
                                span.color-warm +20°С
                        .balcony-list__item__content
                            p.
                                Теплое остекление выбирают, когда хотят превратить 
                                балкон в полноценную комнату отдыха. 
                                Приятно выйти встретить рассвет с чашечкой кофе 
                                и не ежиться при этом от холода.
                            p.
                                Даже когда за окном зима, на балконе с теплым 
                                остеклением сохраняется комфортная температура. 
                                Такое свойство достигается за счет ПВХ-профилей, 
                                которые не выпускают тепло из квартиры и не запускают мороз внутрь. 
                                Когда на улице −15°С, на балконе с теплым остеклением +20°С. 
                                Герметичность конструкции также защищает балкон от шума с улицы, 
                                сквозняков, пыли и дождей.
                    .balcony-list__item__col
                        .balcony-list__item__tabs-wrapper.js-tabs(data-tabs='.balcony-list__item__tabs > li')
                            ul.balcony-list__item__tabs
                                li.balcony-list__item__tabs__item
                                    img.balcony-list__item__tabs__item__img(src='img/blitz.png')
                                    a.balcony-list__item__tabs__item__content(href='#balcony-warm-1')
                                        span.balcony-list__item__tabs__item__content__h 
                                            span.balcony-list__item__tabs__item__content__h__inner Rehau Blitz
                                        span.balcony-list__item__tabs__item__content__text от 26 200 ₽
                                li.balcony-list__item__tabs__item
                                    img.balcony-list__item__tabs__item__img(src='img/grazio.png')
                                    a.balcony-list__item__tabs__item__content(href='#balcony-warm-2')
                                        span.balcony-list__item__tabs__item__content__h 
                                            span.balcony-list__item__tabs__item__content__h__inner Rehau Grazio
                                        span.balcony-list__item__tabs__item__content__text от 29 160 ₽
                            div.balcony-list__item__tab(id='balcony-warm-1')
                                .config-detail
                                    .config-detail__head
                                        span.config-detail__head__col
                                            span.config-detail__head__muted Лоджия 300x150 см, остекление без отделки 
                                            span.config-detail__head__price от 26 200 ₽
                                            span.config-detail__head__badge._action 
                                                span Акция -20% с отделкой
                                                span.tooltip._inverse
                                                    i.icon-help
                                                    span.tooltip__content Сообщите менеджеру если вам требуется остекление с отделкой и мы сделаем 
                                                        strong скидку 20%
                                                        | .
                                        span.config-detail__head__col
                                    .config-detail__content
                                        .config-detail__content__h Профиль Rehau Blitz 60 мм
                                        ul.config-detail__content__ul
                                            li.config-detail__content__ul__li 2-х камерный стеклопакет 32 мм
                                            li.config-detail__content__ul__li Лоджия с установкой оп ГОСТ. Подоконник, отлив, карниз, нащельник с 2-х сторон
                                                +tooltip-gost
                                            li.config-detail__content__ul__li Расширители 40 мм под утепление изнутри
                                a.btn.js-popup(href='#calc' data-action='Теплое остекление балкона Rehau Blitz') Рассчитать свой вариант
                                +payment('2 620')
                            div.balcony-list__item__tab(id='balcony-warm-2')
                                .config-detail
                                    .config-detail__head
                                        span.config-detail__head__col
                                            span.config-detail__head__muted Лоджия 300x150 см, остекление без отделки 
                                            span.config-detail__head__price от 29 160 ₽
                                            span.config-detail__head__badge._action 
                                                span Акция -20% с отделкой
                                                span.tooltip._inverse
                                                    i.icon-help
                                                    span.tooltip__content Сообщите менеджеру если вам требуется остекление с отделкой и мы сделаем 
                                                        strong скидку 20%
                                                        | .
                                        span.config-detail__head__col
                                    .config-detail__content
                                        .config-detail__content__h Профиль Rehau Grazio 70 мм
                                        ul.config-detail__content__ul
                                            li.config-detail__content__ul__li 2-х камерный стеклопакет 40 мм
                                            li.config-detail__content__ul__li Лоджия с установкой оп ГОСТ. Подоконник, отлив, карниз, нащельник с 2-х сторон
                                                +tooltip-gost
                                            li.config-detail__content__ul__li Расширители 40 мм под утепление изнутри
                                a.btn.js-popup(href='#calc' data-action='Теплое остекление балкона Rehau Grazio') Рассчитать свой вариант
                                +payment('2 916')
                    .balcony-list__item__col.balcony-list__item__img
                        .balcony-list__item__img__img-wrapper
                            .balcony-list__item__img__img-wrapper__img(style='background-image: url(img/balcony/warm.jpg)')
            
            .balcony-list.sm-full(id='cold-balcony')
                .balcony-list__item
                    .balcony-list__item__col
                        .balcony-list__item__head
                            .balcony-list__item__h Холодное остекление 
                            .balcony-list__item__lead на улице 
                                span.color-cold −15°С
                                | , внутри 
                                span.color-warm +5°С
                        .balcony-list__item__content
                            p.
                                Холодное остекление — идеальный выбор, когда хочется недорого, 
                                но качественно. Распашная конструкция окон. 
                            .js-config__cold-1
                                p.
                                    Оно выполняется на основе надежного пластикового профиля 
                                    с однокамерным стеклопакетом, который эффективно защищает 
                                    от осадков, пыли и уличного шума. Балконы с холодным остеклением 
                                    выглядят не хуже, чем более дорогие решения.
                            .js-config__cold-2.hidden
                                p.
                                    Исполнение окна в алюминии позволяет выполнить раму 
                                    в любом цвете по желанию заказчика, 
                                    без удорожания конечной стоимости. 
                                p.
                                    Легкий алюминиевый профиль в сочетании с однокамерным 
                                    стеклопакетом подходит даже для квартир 
                                    в старых зданиях с изношенными балконными 
                                    плитами и эффективно защищает от осадков, 
                                    пыли и уличного шума.
                    .balcony-list__item__col
                        .balcony-list__item__tabs-wrapper.js-tabs(data-tabs='.balcony-list__item__tabs > li')
                            ul.balcony-list__item__tabs
                                li.balcony-list__item__tabs__item
                                    a.balcony-list__item__tabs__item__content.js-config__toggler(
                                        href='#balcony-cold-1'
                                        data-app-toggler-hide='#cold-balcony .js-config__cold-2' 
                                        data-app-toggler-show='#cold-balcony .js-config__cold-1')
                                        span.balcony-list__item__tabs__item__content__h 
                                            span.balcony-list__item__tabs__item__content__h__inner Пластик
                                li.balcony-list__item__tabs__item
                                    a.balcony-list__item__tabs__item__content.js-config__toggler(
                                        href='#balcony-cold-2' 
                                        data-app-toggler-hide='#cold-balcony .js-config__cold-1' 
                                        data-app-toggler-show='#cold-balcony .js-config__cold-2')
                                        span.balcony-list__item__tabs__item__content__h 
                                            span.balcony-list__item__tabs__item__content__h__inner Алюминий
                            div.balcony-list__item__tab(id='balcony-cold-1')
                                .config-detail
                                    .config-detail__head
                                        span.config-detail__head__col
                                            span.config-detail__head__muted Лоджия 300x150 см, остекление без отделки 
                                            span.config-detail__head__price от 20 200 ₽
                                            span.config-detail__head__badge._action 
                                                span Акция -20% с отделкой
                                                span.tooltip._inverse
                                                    i.icon-help
                                                    span.tooltip__content Сообщите менеджеру если вам требуется остекление с отделкой и мы сделаем 
                                                        strong скидку 20%
                                                        | .
                                        span.config-detail__head__col
                                    .config-detail__content
                                        .config-detail__content__h Профиль Rehau Blitz 60 мм
                                        ul.config-detail__content__ul
                                            li.config-detail__content__ul__li 1-камерный стеклопакет 24 мм
                                            li.config-detail__content__ul__li Лоджия с установкой по ГОСТ
                                                +tooltip-gost
                                            li.config-detail__content__ul__li Подоконник, отлив, карниз, нащельник с 2-х сторон
                                a.btn.js-popup(href='#calc' data-action='Холодное остекление балкона пластик') Рассчитать свой вариант
                                +payment('2 200')
                            div.balcony-list__item__tab(id='balcony-cold-2')
                                .config-detail
                                    .config-detail__head
                                        span.config-detail__head__col
                                            span.config-detail__head__muted Лоджия 300x150 см, остекление без отделки 
                                            span.config-detail__head__price от 35 000 ₽
                                            span.config-detail__head__badge._action 
                                                span Акция -20% с отделкой
                                                span.tooltip._inverse
                                                    i.icon-help
                                                    span.tooltip__content Сообщите менеджеру если вам требуется остекление с отделкой и мы сделаем 
                                                        strong скидку 20%
                                                        | .
                                        span.config-detail__head__col
                                    .config-detail__content
                                        .config-detail__content__h Алюминиевый профиль
                                        ul.config-detail__content__ul
                                            li.config-detail__content__ul__li 1-камерный стеклопакет 24 мм
                                            li.config-detail__content__ul__li Лоджия с установкой по ГОСТ
                                                +tooltip-gost
                                            li.config-detail__content__ul__li Подоконник, отлив, карниз, нащельник с 2-х сторон
                                a.btn.js-popup(href='#calc' data-action='Холодное остекление балкона алюминий') Рассчитать свой вариант
                                +payment('3 500')
                    .balcony-list__item__col.balcony-list__item__img
                        .balcony-list__item__img__img-wrapper
                            .balcony-list__item__img__img-wrapper__img.js-config__cold-1(style='background-image: url(img/balcony/cold.jpg)')
                            .balcony-list__item__img__img-wrapper__img.hidden.js-config__cold-2(style='background-image: url(img/balcony/aluminium.jpg)')
            
            .balcony-list.sm-full(id='sliding-balcony')
                .balcony-list__item
                    .balcony-list__item__col
                        .balcony-list__item__head
                            .balcony-list__item__h Раздвижные окна 
                            .balcony-list__item__lead на улице 
                                span.color-cold −15°С
                                | , внутри 
                                span.color-warm +5°С
                        .balcony-list__item__content
                            p.
                                Раздвижные системы для балконов и лоджий — 
                                отличное решение для людей, которые ценят практичность 
                                в эксплуатации и максимум свободного пространства. 
                                Зачастую, чтобы открыть окно, необходимо убрать 
                                с подоконника цветы, поднять жалюзи или отодвинуть стул 
                                и сушилку для белья. Подобные проблемы без перестановки 
                                мебели и перепланировки можно запросто решить, выбирая раздвижные 
                                оконные системы оконного завода «САКСЭС». 
                            p.
                                Окна на основе надежного 
                                алюминиевого профиля, которые эффективно защищают от осадков, пыли и уличного шума. 
                                Низкая цена достигается за счет отсутствия теплоизоляции. Зимой на балконе будет прохладно, 
                                но если вы не планируете использовать его как отдельную комнату — теплоизоляция вам и не нужна. 
                                Оптимальное решение, которое сбережет ваш бюджет.
                    .balcony-list__item__col
                        .balcony-list__item__tabs-wrapper
                            .balcony-list__item__tabs
                            .balcony-list__item__tab
                                .config-detail
                                    .config-detail__head
                                        span.config-detail__head__col
                                            span.config-detail__head__muted Лоджия 300x150 см, остекление без отделки 
                                            span.config-detail__head__price от 17 000 ₽
                                            span.config-detail__head__badge._action 
                                                span Акция -20% с отделкой
                                                span.tooltip._inverse
                                                    i.icon-help
                                                    span.tooltip__content Сообщите менеджеру если вам требуется остекление с отделкой и мы сделаем 
                                                        strong скидку 20%
                                                        | .
                                        span.config-detail__head__col
                                    .config-detail__content
                                        .config-detail__content__h Алюминиевый профиль
                                        ul.config-detail__content__ul
                                            li.config-detail__content__ul__li 1-камерный стеклопакет 24 мм
                                            li.config-detail__content__ul__li Лоджия с установкой по ГОСТ
                                                +tooltip-gost
                                            li.config-detail__content__ul__li Подоконник, отлив, карниз, нащельник с 2-х сторон
                                            li.config-detail__content__ul__li Заполнение стекло 4 мм.
                                a.btn.js-popup(href='#calc' data-action='Раздвижные окна балкона') Рассчитать свой вариант
                                +payment('1 700')
                    .balcony-list__item__col.balcony-list__item__img
                        .balcony-list__item__img__img-wrapper
                            .balcony-list__item__img__img-wrapper__img(style='background-image: url(img/balcony/sliding.jpg)')
            
            .balcony-list.sm-full(id='finishing-balcony')
                .balcony-list__item
                    .balcony-list__item__col
                        .balcony-list__item__head
                            .balcony-list__item__h Отделка под ключ
                        .balcony-list__item__content
                            p.
                                Мы выполняем внутреннюю отделку балконов и лоджий под ключ. 
                            p.
                                Наши специалисты сделают замеры, предложат оптимальное решение, 
                                проведут работы по отделке и приберут за собой. 
                                От вас потребуются только пожелания. 
                    .balcony-list__item__col
                        .balcony-list__item__tabs-wrapper
                            .balcony-list__item__tabs
                            .balcony-list__item__tab
                                .config-detail
                                    .config-detail__head
                                        span.config-detail__head__col
                                            span.config-detail__head__muted Отделка лоджии 300x150 см под ключ
                                            span.config-detail__head__price от 31 000 ₽
                                        span.config-detail__head__col
                                    .config-detail__content
                                        .config-detail__content__h Типовое решение:
                                        ul.config-detail__content__ul
                                            li.config-detail__content__ul__li Отделка боковых стен, стен вокруг балконного блока, фасадной части изнутри, потолка ПВХ панелями.
                                            li.config-detail__content__ul__li Пол из шпунтованной доски
                                a.btn.js-popup(href='#calc' data-action='Отделка балкона под ключ') Рассчитать свой вариант
                                +payment('3 100')
                    .balcony-list__item__col.balcony-list__item__img
                        .balcony-list__item__img__img-wrapper
                            .balcony-list__item__img__img-wrapper__img(style='background-image: url(img/balcony/finishing.jpg)')
            
        .scrollbar-outer.js-scrollbar-md
            ul.config-tabs._balcony.js-tabs__list
                li.config-tabs__item
                    +config-tab(
                                sprite = 'warm'
                                title = 'Теплое остекление'
                                href = '#warm-balcony'
                        )
                li.config-tabs__item
                    +config-tab(
                                sprite = 'snow'
                                title = 'Холодное остекление'
                                href = '#cold-balcony'
                        )
                li.config-tabs__item
                    +config-tab(
                                sprite = 'sliding'
                                title = 'Раздвижные окна'
                                href = '#sliding-balcony'
                        )
                li.config-tabs__item
                    +config-tab(
                                sprite = 'finishing'
                                title = 'Отделка под ключ'
                                href = '#finishing-balcony'
                        )
